/* Navbar Container */
.navbar {
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  box-shadow: 2px 2px;
  border: 1px solid gray;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.logo-web {
  width: 2rem;
}

.nav-wrap {
  gap: 30px;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.navbar-item {
  list-style: none;
}

.navbar-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.hamburger-menu {
  display: none;
}

.navbar-search {
  border-radius: 20px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  border: 1px solid gray;
}

.search-input {
  border: none;
  outline: none;
}

@media screen and (max-width: 768px) {
  .nav-container {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    box-shadow: 2px 2px;
    border: 1px solid gray;
    justify-content: space-between;
  }

  .nav-wrap {
    gap: 30px;
    display: flex;
    align-items: center;
  }

  .nav-logo {
    display: flex;
    align-items: center;
  }

  .hamburger-menu {
    display: flex;
    align-items: center;
  }

  .nav-menu {
    display: none;
  }

  .navbar-search {
    max-width: 70%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
  }
  .search-input {
    display: flex;
    max-width: 200px;
  }

  .search-ico {
    display: flex;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
    align-self: flex-end;
  }

  .navbar-search {
    align-self: flex-end;
  }
}
