.content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  min-height: 100vh;
}

.line {
  display: flex;
  flex-wrap: wrap;
}

.product {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  max-width: 300px;
  box-sizing: border-box;
}

.product img {
  background-color: rgb(208, 205, 205);
  width: 100%;
  height: auto;
  aspect-ratio: 9/10;
  object-fit: cover;
  margin-bottom: 15px;
}

.text-product {
  overflow-x: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  text-align: left;
  font-size: 1rem;
}

.text-product li {
  font-size: 90%;
}

.harga {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 153, 0);
  font-size: 1.5rem;
}

.harga img,
.keranjang img {
  width: 35px;
  height: 35px;
}

.keranjang {
  background-color: white;
}

.loader {
  animation: loader 3s linear infinite;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .line {
    flex-direction: column;
    align-items: center;
  }

  .product {
    max-width: 400px;
  }
  .text-product {
    overflow-x: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
    text-align: left;
    font-size: 1rem;
  }
  .harga {
    flex-direction: row;
    justify-content: space-between;
  }
}

